<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scenes</key>
	<array>
        <dict>
            <key>name</key>
            <string>NFL Map</string>
            <key>imageName</key>
            <string>usa</string>
            <key>figures</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>49ers</string>
                    <key>imageName</key>
                    <string>49ers</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Bears</string>
                    <key>imageName</key>
                    <string>Bears</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Bengals</string>
                    <key>imageName</key>
                    <string>Bengals</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Bills</string>
                    <key>imageName</key>
                    <string>Bills</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Broncos</string>
                    <key>imageName</key>
                    <string>Broncos</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Browns</string>
                    <key>imageName</key>
                    <string>Browns</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Buccaneers</string>
                    <key>imageName</key>
                    <string>Buccaneers</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Cardinals</string>
                    <key>imageName</key>
                    <string>Cardinals</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Chargers</string>
                    <key>imageName</key>
                    <string>Chargers</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Chiefs</string>
                    <key>imageName</key>
                    <string>Chiefs</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Colts</string>
                    <key>imageName</key>
                    <string>Colts</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Cowboys</string>
                    <key>imageName</key>
                    <string>Cowboys</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Dolphins</string>
                    <key>imageName</key>
                    <string>Dolphins</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Eagles</string>
                    <key>imageName</key>
                    <string>Eagles</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Falcons</string>
                    <key>imageName</key>
                    <string>Falcons</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Giants</string>
                    <key>imageName</key>
                    <string>Giants</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Jaguars</string>
                    <key>imageName</key>
                    <string>Jaguars</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Jets</string>
                    <key>imageName</key>
                    <string>Jets</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Lions</string>
                    <key>imageName</key>
                    <string>Lions</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Packers</string>
                    <key>imageName</key>
                    <string>Packers</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Panthers</string>
                    <key>imageName</key>
                    <string>Panthers</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Patriots</string>
                    <key>imageName</key>
                    <string>Patriots</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Raiders</string>
                    <key>imageName</key>
                    <string>Raiders</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Rams</string>
                    <key>imageName</key>
                    <string>Rams</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Ravens</string>
                    <key>imageName</key>
                    <string>Ravens</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Redskins</string>
                    <key>imageName</key>
                    <string>Redskins</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Saints</string>
                    <key>imageName</key>
                    <string>Saints</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Seahawks</string>
                    <key>imageName</key>
                    <string>Seahawks</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Steelers</string>
                    <key>imageName</key>
                    <string>Steelers</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Texans</string>
                    <key>imageName</key>
                    <string>Texans</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Titans</string>
                    <key>imageName</key>
                    <string>Titans</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Vikings</string>
                    <key>imageName</key>
                    <string>Vikings</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>name</key>
            <string>NFL Teams</string>
            <key>figures</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>49ers</string>
                    <key>imageName</key>
                    <string>49ers</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Bears</string>
                    <key>imageName</key>
                    <string>Bears</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Bengals</string>
                    <key>imageName</key>
                    <string>Bengals</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Bills</string>
                    <key>imageName</key>
                    <string>Bills</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Broncos</string>
                    <key>imageName</key>
                    <string>Broncos</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Browns</string>
                    <key>imageName</key>
                    <string>Browns</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Buccaneers</string>
                    <key>imageName</key>
                    <string>Buccaneers</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Cardinals</string>
                    <key>imageName</key>
                    <string>Cardinals</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Chargers</string>
                    <key>imageName</key>
                    <string>Chargers</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Chiefs</string>
                    <key>imageName</key>
                    <string>Chiefs</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Colts</string>
                    <key>imageName</key>
                    <string>Colts</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Cowboys</string>
                    <key>imageName</key>
                    <string>Cowboys</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Dolphins</string>
                    <key>imageName</key>
                    <string>Dolphins</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Eagles</string>
                    <key>imageName</key>
                    <string>Eagles</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Falcons</string>
                    <key>imageName</key>
                    <string>Falcons</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Giants</string>
                    <key>imageName</key>
                    <string>Giants</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Jaguars</string>
                    <key>imageName</key>
                    <string>Jaguars</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Jets</string>
                    <key>imageName</key>
                    <string>Jets</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Lions</string>
                    <key>imageName</key>
                    <string>Lions</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Packers</string>
                    <key>imageName</key>
                    <string>Packers</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Panthers</string>
                    <key>imageName</key>
                    <string>Panthers</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Patriots</string>
                    <key>imageName</key>
                    <string>Patriots</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Raiders</string>
                    <key>imageName</key>
                    <string>Raiders</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Rams</string>
                    <key>imageName</key>
                    <string>Rams</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Ravens</string>
                    <key>imageName</key>
                    <string>Ravens</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Redskins</string>
                    <key>imageName</key>
                    <string>Redskins</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Saints</string>
                    <key>imageName</key>
                    <string>Saints</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Seahawks</string>
                    <key>imageName</key>
                    <string>Seahawks</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Steelers</string>
                    <key>imageName</key>
                    <string>Steelers</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Texans</string>
                    <key>imageName</key>
                    <string>Texans</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Titans</string>
                    <key>imageName</key>
                    <string>Titans</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Vikings</string>
                    <key>imageName</key>
                    <string>Vikings</string>
                    <key>size</key>
                    <string>{100.0, 50.0}</string>
                </dict>
            </array>
        </dict>
		<dict>
			<key>name</key>
			<string>Paw Patrol</string>
			<key>targets</key>
			<array>
				<dict>
					<key>name</key>
					<string>Blue</string>
					<key>backgroundColor</key>
					<string>0000FFFF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>topLeft</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Red</string>
					<key>backgroundColor</key>
					<string>FF0000FF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>left</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Green</string>
					<key>backgroundColor</key>
					<string>00FF00FF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>bottomLeft</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Orange</string>
					<key>backgroundColor</key>
					<string>FC7F20FF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>topRight</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Yellow</string>
					<key>backgroundColor</key>
					<string>FFFD33FF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>right</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Pink</string>
					<key>backgroundColor</key>
					<string>FB6BFDFF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>bottomRight</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
			</array>
			<key>figures</key>
			<array>
				<dict>
					<key>name</key>
					<string>Chase</string>
					<key>imageName</key>
					<string>Chase</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Marshall</string>
					<key>imageName</key>
					<string>Marshall</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Rocky</string>
					<key>imageName</key>
					<string>Rocky</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Zuma</string>
					<key>imageName</key>
					<string>Zuma</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Rubble</string>
					<key>imageName</key>
					<string>Rubble</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Sky</string>
					<key>imageName</key>
					<string>Skye</string>
				</dict>
			</array>
		</dict>
        <dict>
            <key>name</key>
            <string>The Little Mermaid</string>
            <key>figures</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>Sebastian</string>
                    <key>imageName</key>
                    <string>Sebastian</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Flounder</string>
                    <key>imageName</key>
                    <string>Flounder</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Ursula</string>
                    <key>imageName</key>
                    <string>Ursula</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Ariel</string>
                    <key>imageName</key>
                    <string>Ariel</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Scuttle</string>
                    <key>imageName</key>
                    <string>Scuttle</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Eric</string>
                    <key>imageName</key>
                    <string>Eric</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>name</key>
            <string>Beauty &amp; the Beast</string>
            <key>targets</key>
            <array>
            </array>
            <key>figures</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>Belle</string>
                    <key>imageName</key>
                    <string>Belle</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Gaston</string>
                    <key>imageName</key>
                    <string>Gaston</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>LeFou</string>
                    <key>imageName</key>
                    <string>LeFou</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Beast</string>
                    <key>imageName</key>
                    <string>Beast</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Lumiere</string>
                    <key>imageName</key>
                    <string>Lumiere</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Cogsworth</string>
                    <key>imageName</key>
                    <string>Cogsworth</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Mrs. Potts</string>
                    <key>imageName</key>
                    <string>MrsPotts</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Chip</string>
                    <key>imageName</key>
                    <string>Chip</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>name</key>
            <string>Aladdin</string>
            <key>figures</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>Aladdin</string>
                    <key>imageName</key>
                    <string>Aladdin</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Jasmine</string>
                    <key>imageName</key>
                    <string>Jasmine</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Jafar</string>
                    <key>imageName</key>
                    <string>Jafar</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Abu</string>
                    <key>imageName</key>
                    <string>Abu</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Genie</string>
                    <key>imageName</key>
                    <string>Genie</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Rajah</string>
                    <key>imageName</key>
                    <string>Rajah</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Iago</string>
                    <key>imageName</key>
                    <string>Iago</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Sultan</string>
                    <key>imageName</key>
                    <string>Sultan</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>name</key>
            <string>The Lion King</string>
            <key>figures</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>Scar</string>
                    <key>imageName</key>
                    <string>Scar</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Simba</string>
                    <key>imageName</key>
                    <string>Simba</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Zazu</string>
                    <key>imageName</key>
                    <string>Zazu</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Nala</string>
                    <key>imageName</key>
                    <string>Nala</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Rafiki</string>
                    <key>imageName</key>
                    <string>Rafiki</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Pumba</string>
                    <key>imageName</key>
                    <string>Pumba</string>
                </dict>
            </array>
        </dict>
        <dict>
            <key>name</key>
            <string>Disney</string>
            <key>targets</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>The Little Mermaid</string>
                    <key>imageName</key>
                    <string>TLM</string>
                    <key>backgroundColor</key>
                    <string>177F42FF</string>
                    <key>location</key>
                    <string>topLeft</string>
                    <key>size</key>
                    <string>{300.0, 200.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Beauty &amp; the Beast</string>
                    <key>imageName</key>
                    <string>BATB</string>
                    <key>backgroundColor</key>
                    <string>FFFD33FF</string>
                    <key>location</key>
                    <string>topRight</string>
                    <key>size</key>
                    <string>{300.0, 200.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Aladdin</string>
                    <key>imageName</key>
                    <string>AladdinLogo</string>
                    <key>backgroundColor</key>
                    <string>7D22FCFF</string>
                    <key>location</key>
                    <string>bottomLeft</string>
                    <key>size</key>
                    <string>{300.0, 200.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>The Lion King</string>
                    <key>imageName</key>
                    <string>TLK</string>
                    <key>backgroundColor</key>
                    <string>FC7F20FF</string>
                    <key>location</key>
                    <string>bottomRight</string>
                    <key>size</key>
                    <string>{300.0, 200.0}</string>
                </dict>
            </array>
            <key>figures</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>Belle</string>
                    <key>imageName</key>
                    <string>Belle</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Gaston</string>
                    <key>imageName</key>
                    <string>Gaston</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>LeFou</string>
                    <key>imageName</key>
                    <string>LeFou</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Beast</string>
                    <key>imageName</key>
                    <string>Beast</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Lumiere</string>
                    <key>imageName</key>
                    <string>Lumiere</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Cogsworth</string>
                    <key>imageName</key>
                    <string>Cogsworth</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Mrs. Potts</string>
                    <key>imageName</key>
                    <string>MrsPotts</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Chip</string>
                    <key>imageName</key>
                    <string>Chip</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Aladdin</string>
                    <key>imageName</key>
                    <string>Aladdin</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Jasmine</string>
                    <key>imageName</key>
                    <string>Jasmine</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Jafar</string>
                    <key>imageName</key>
                    <string>Jafar</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Abu</string>
                    <key>imageName</key>
                    <string>Abu</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Genie</string>
                    <key>imageName</key>
                    <string>Genie</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Rajah</string>
                    <key>imageName</key>
                    <string>Rajah</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Iago</string>
                    <key>imageName</key>
                    <string>Iago</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Sultan</string>
                    <key>imageName</key>
                    <string>Sultan</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Sebastian</string>
                    <key>imageName</key>
                    <string>Sebastian</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Flounder</string>
                    <key>imageName</key>
                    <string>Flounder</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Ursula</string>
                    <key>imageName</key>
                    <string>Ursula</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Ariel</string>
                    <key>imageName</key>
                    <string>Ariel</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Scuttle</string>
                    <key>imageName</key>
                    <string>Scuttle</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Eric</string>
                    <key>imageName</key>
                    <string>Eric</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Scar</string>
                    <key>imageName</key>
                    <string>Scar</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Simba</string>
                    <key>imageName</key>
                    <string>Simba</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Zazu</string>
                    <key>imageName</key>
                    <string>Zazu</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Nala</string>
                    <key>imageName</key>
                    <string>Nala</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Rafiki</string>
                    <key>imageName</key>
                    <string>Rafiki</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Pumba</string>
                    <key>imageName</key>
                    <string>Pumba</string>
                </dict>
            </array>
        </dict>
        
		<dict>
			<key>name</key>
			<string>Colors</string>
			<key>targets</key>
			<array>
				<dict>
					<key>name</key>
					<string>Blue</string>
					<key>backgroundColor</key>
					<string>0000FFFF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>topLeft</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Red</string>
					<key>backgroundColor</key>
					<string>FF0000FF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>left</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Green</string>
					<key>backgroundColor</key>
					<string>00FF00FF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>bottomLeft</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Orange</string>
					<key>backgroundColor</key>
					<string>FC7F20FF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>topRight</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Yellow</string>
					<key>backgroundColor</key>
					<string>FFFD33FF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>right</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Pink</string>
					<key>backgroundColor</key>
					<string>FB6BFDFF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>bottomRight</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Purple</string>
					<key>backgroundColor</key>
					<string>9B30FFFF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>topMiddle</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Brown</string>
					<key>backgroundColor</key>
					<string>733D1AFF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>bottomMiddle</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
			</array>
			<key>figures</key>
			<array>
				<dict>
					<key>name</key>
					<string>Red</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Blue</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Green</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Orange</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Yellow</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Pink</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Brown</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Purple</string>
				</dict>
			</array>
		</dict>




		<dict>
			<key>name</key>
			<string>Woody Expressions</string>
			<key>targets</key>
			<array>
				<dict>
					<key>name</key>
					<string>Sad</string>
                    <key>imageName</key>
                    <string>woody_sad</string>
					<key>location</key>
					<string>topLeft</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Surprised</string>
                    <key>imageName</key>
                    <string>woody_surprised</string>
					<key>location</key>
					<string>bottomLeft</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Hello</string>
                    <key>imageName</key>
                    <string>woody_hello</string>
					<key>location</key>
					<string>topRight</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Run</string>
                    <key>imageName</key>
                    <string>woody_running</string>
					<key>location</key>
					<string>bottomRight</string>
				</dict>
			</array>
			<key>figures</key>
			<array>
				<dict>
					<key>name</key>
					<string>Sad</string>
					<key>foregroundColor</key>
					<string>FF0000FF</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Surprise</string>
					<key>foregroundColor</key>
					<string>FF0000FF</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Run</string>
					<key>foregroundColor</key>
					<string>FF0000FF</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Hello</string>
					<key>foregroundColor</key>
					<string>FF0000FF</string>
				</dict>
			</array>
		</dict>
        
		<dict>
			<key>name</key>
			<string>Woody Body</string>
			<key>figures</key>
			<array>
				<dict>
                    <key>imageName</key>
                    <string>woody_torso</string>
				</dict>
				<dict>
                    <key>imageName</key>
                    <string>woody_head</string>
				</dict>
				<dict>
                    <key>imageName</key>
                    <string>woody_right_arm</string>
				</dict>
				<dict>
                    <key>imageName</key>
                    <string>woody_left_arm</string>
				</dict>
				<dict>
                    <key>imageName</key>
                    <string>woody_right_leg</string>
				</dict>
				<dict>
                    <key>imageName</key>
                    <string>woody_left_leg</string>
				</dict>
			</array>
		</dict>
        
	</array>
</dict>
</plist>
