<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>scenes</key>
    <array>
        <dict>
            <key>name</key>
            <string>Paw Patrol</string>
            <key>targets</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>Blue</string>
                    <key>fillColor</key>
                    <string>0000FFFF</string>
                    <key>strokeColor</key>
                    <string>00000000</string>
                    <key>location</key>
                    <string>TopLeft</string>
                    <key>size</key>
                    <string>{130.0, 130.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Red</string>
                    <key>fillColor</key>
                    <string>FF0000FF</string>
                    <key>strokeColor</key>
                    <string>00000000</string>
                    <key>location</key>
                    <string>MidLeft</string>
                    <key>size</key>
                    <string>{130.0, 130.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Green</string>
                    <key>fillColor</key>
                    <string>00FF00FF</string>
                    <key>strokeColor</key>
                    <string>00000000</string>
                    <key>location</key>
                    <string>BottomLeft</string>
                    <key>size</key>
                    <string>{130.0, 130.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Orange</string>
                    <key>fillColor</key>
                    <string>FC7F20FF</string>
                    <key>strokeColor</key>
                    <string>00000000</string>
                    <key>location</key>
                    <string>TopRight</string>
                    <key>size</key>
                    <string>{130.0, 130.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Yellow</string>
                    <key>fillColor</key>
                    <string>FFFD33FF</string>
                    <key>strokeColor</key>
                    <string>00000000</string>
                    <key>location</key>
                    <string>MidRight</string>
                    <key>size</key>
                    <string>{130.0, 130.0}</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Pink</string>
                    <key>fillColor</key>
                    <string>FB6BFDFF</string>
                    <key>strokeColor</key>
                    <string>00000000</string>
                    <key>location</key>
                    <string>BottomRight</string>
                    <key>size</key>
                    <string>{130.0, 130.0}</string>
                </dict>
            </array>
            <key>figures</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>Chase</string>
                    <key>imageName</key>
                    <string>Chase</string>
                    <key>fillColor</key>
                    <string>00000000</string>
                    <key>strokeColor</key>
                    <string>00000000</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Marshall</string>
                    <key>imageName</key>
                    <string>Marshall</string>
                    <key>fillColor</key>
                    <string>00000000</string>
                    <key>strokeColor</key>
                    <string>00000000</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Rocky</string>
                    <key>imageName</key>
                    <string>Rocky</string>
                    <key>fillColor</key>
                    <string>00000000</string>
                    <key>strokeColor</key>
                    <string>00000000</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Zuma</string>
                    <key>imageName</key>
                    <string>Zuma</string>
                    <key>fillColor</key>
                    <string>00000000</string>
                    <key>strokeColor</key>
                    <string>00000000</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Rubble</string>
                    <key>imageName</key>
                    <string>Rubble</string>
                    <key>fillColor</key>
                    <string>00000000</string>
                    <key>strokeColor</key>
                    <string>00000000</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Skye</string>
                    <key>imageName</key>
                    <string>Skye</string>
                    <key>fillColor</key>
                    <string>00000000</string>
                    <key>strokeColor</key>
                    <string>00000000</string>
                </dict>
            </array>
        </dict>
    </array>
</dict>
</plist>
