<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scenes</key>
	<array>
		<dict>
			<key>name</key>
			<string>Paw Patrol</string>
			<key>targets</key>
			<array>
				<dict>
					<key>name</key>
					<string>Blue</string>
					<key>backgroundColor</key>
					<string>0000FFFF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>topLeft</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Red</string>
					<key>backgroundColor</key>
					<string>FF0000FF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>left</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Green</string>
					<key>backgroundColor</key>
					<string>00FF00FF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>bottomLeft</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Orange</string>
					<key>backgroundColor</key>
					<string>FC7F20FF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>topRight</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Yellow</string>
					<key>backgroundColor</key>
					<string>FFFD33FF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>right</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Pink</string>
					<key>backgroundColor</key>
					<string>FB6BFDFF</string>
					<key>borderColor</key>
					<string>00000000</string>
					<key>cornerRadius</key>
					<integer>10</integer>
					<key>location</key>
					<string>bottomRight</string>
					<key>size</key>
					<string>{130.0, 130.0}</string>
				</dict>
			</array>
			<key>figures</key>
			<array>
				<dict>
					<key>name</key>
					<string>Chase</string>
					<key>imageName</key>
					<string>Chase</string>
					<key>backgroundColor</key>
					<string>00000000</string>
					<key>borderColor</key>
					<string>00000000</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Marshall</string>
					<key>imageName</key>
					<string>Marshall</string>
					<key>backgroundColor</key>
					<string>00000000</string>
					<key>borderColor</key>
					<string>00000000</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Rocky</string>
					<key>imageName</key>
					<string>Rocky</string>
					<key>backgroundColor</key>
					<string>00000000</string>
					<key>borderColor</key>
					<string>00000000</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Zuma</string>
					<key>imageName</key>
					<string>Zuma</string>
					<key>backgroundColor</key>
					<string>00000000</string>
					<key>borderColor</key>
					<string>00000000</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Rubble</string>
					<key>imageName</key>
					<string>Rubble</string>
					<key>backgroundColor</key>
					<string>00000000</string>
					<key>borderColor</key>
					<string>00000000</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Sky</string>
					<key>imageName</key>
					<string>Skye</string>
					<key>backgroundColor</key>
					<string>00000000</string>
					<key>borderColor</key>
					<string>00000000</string>
				</dict>
			</array>
		</dict>
        <dict>
            <key>name</key>
            <string>Beauty &amp; The Beast</string>
            <key>targets</key>
            <array>
            </array>
            <key>figures</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>Belle</string>
                    <key>imageName</key>
                    <string>Belle</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Gaston</string>
                    <key>imageName</key>
                    <string>Gaston</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>LeFou</string>
                    <key>imageName</key>
                    <string>LeFou</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Beast</string>
                    <key>imageName</key>
                    <string>Beast</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Lumiere</string>
                    <key>imageName</key>
                    <string>Lumiere</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Cogsworth</string>
                    <key>imageName</key>
                    <string>Cogsworth</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Mrs Potts</string>
                    <key>imageName</key>
                    <string>MrsPotts</string>
                </dict>
                <dict>
                    <key>name</key>
                    <string>Chip</string>
                    <key>imageName</key>
                    <string>Chip</string>
                </dict>
            </array>
        </dict>
	</array>
</dict>
</plist>
